<div class="row">
    <div class="col-md-12">
        <h1>About</h1>
        <h3>Flight of Fancy Design</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Flight of Fancy Design is a full-service graphic design firm located in Oklahoma City, Oklahoma. 
           You'll be working directly with me, the owner and designer, Ofelia Ochoa, you can call me Ofi. 
           I have experience building websites, seeing print materials from concept to completion, 
           creating advertising campaigns and branding businesses and organizations. 
           Working closely with each other ensures that you will end up with a completed project 
           that is exactly what you envisioned.</p>
    </div>
</div>
